panicbuttonserver/flows.json
[
    {
        "id": "1cb448c825f52599",
        "type": "tab",
        "label": "Flujo boton",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2a723c343d0fc1fb",
        "type": "mqtt in",
        "z": "1cb448c825f52599",
        "name": "LED status",
        "topic": "panic",
        "qos": "2",
        "datatype": "auto",
        "broker": "7f78f1ea8e6ab857",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "52e51f8f2fe19ddc",
                "bae834c4d1e14eee",
                "bb215dce3131dd97"
            ]
        ]
    },
    {
        "id": "52e51f8f2fe19ddc",
        "type": "change",
        "z": "1cb448c825f52599",
        "name": "Payload to number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "524f719c3f19dff9",
                "19c6904fbc9bbf90",
                "59a0b8959cca4361"
            ]
        ]
    },
    {
        "id": "524f719c3f19dff9",
        "type": "ui_led",
        "z": "1cb448c825f52599",
        "order": 2,
        "group": "cf80aacb6a002869",
        "width": 6,
        "height": 3,
        "label": "LED status:",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#1f351d",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#05ff05",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "LED status",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "bde89158d9b549a1",
        "type": "mysql",
        "z": "1cb448c825f52599",
        "mydb": "c33c54c064b6c179",
        "name": "Storage values in database",
        "x": 740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bae834c4d1e14eee",
        "type": "function",
        "z": "1cb448c825f52599",
        "name": "Insert values into database",
        "func": "var st = parseInt(msg.payload)\nmsg.topic = \"INSERT INTO historial(status01) VALUES('\"+st+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 320,
        "wires": [
            [
                "bde89158d9b549a1"
            ]
        ]
    },
    {
        "id": "59a0b8959cca4361",
        "type": "function",
        "z": "1cb448c825f52599",
        "name": "Evaluate payload to change status",
        "func": "if (msg.payload != 1)\n{\n    msg.payload = \"Ready to send mail\";\n}\nelse\n{\n    msg.payload = \"Mail sent!\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "ab98ff9c820d0a97",
                "9efdcb7446d06b78"
            ]
        ]
    },
    {
        "id": "c5e107e9c6bf55e0",
        "type": "e-mail",
        "z": "1cb448c825f52599",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "joshanccom@gmail.com",
        "dname": "Receiver mail",
        "x": 1240,
        "y": 120,
        "wires": []
    },
    {
        "id": "19c6904fbc9bbf90",
        "type": "switch",
        "z": "1cb448c825f52599",
        "name": "If payload=1, then send email",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "fb75412f85c1e009"
            ]
        ]
    },
    {
        "id": "fb75412f85c1e009",
        "type": "change",
        "z": "1cb448c825f52599",
        "name": "Set Subject and Body's mail",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Algo no esta bien, por favor contactate conmigo lo más pronto posible. Te estaré esperando",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Ayuda por favor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 120,
        "wires": [
            [
                "c5e107e9c6bf55e0"
            ]
        ]
    },
    {
        "id": "ab98ff9c820d0a97",
        "type": "ui_text",
        "z": "1cb448c825f52599",
        "group": "cf80aacb6a002869",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "E-mail status:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "bb215dce3131dd97",
        "type": "function",
        "z": "1cb448c825f52599",
        "name": "GET data from database ",
        "func": "msg.topic = \"SELECT tiempo,DATE_FORMAT(tiempo,' %Y-%m-%d %H:%i:%s') AS shortdate, status01 FROM historial\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "3a40ca2a66cc4c9e"
            ]
        ]
    },
    {
        "id": "3a40ca2a66cc4c9e",
        "type": "mysql",
        "z": "1cb448c825f52599",
        "mydb": "c33c54c064b6c179",
        "name": "Indicate database",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "6318ecb3ed85b3f3"
            ]
        ]
    },
    {
        "id": "6318ecb3ed85b3f3",
        "type": "change",
        "z": "1cb448c825f52599",
        "name": "Parse payload into json",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\t\"series\":[\"Estado\"],\t    \"data\":\t    (\t        [[\t            msg.payload[].\t            status01\t        ]]\t    ),\t    \"labels\":(\t    [\t        msg.payload[].\t        \"shortdate\"\t    ]\t    )\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 420,
        "wires": [
            [
                "584561660ec31580"
            ]
        ]
    },
    {
        "id": "584561660ec31580",
        "type": "ui_chart",
        "z": "1cb448c825f52599",
        "name": "graph statuses",
        "group": "542338b146203adb",
        "order": 1,
        "width": "12",
        "height": "5",
        "label": "Activity",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#28b31e",
            "#aec7e8",
            "#ff7f0e",
            "#2b9c2b",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "341b8cbe691c3feb",
        "type": "mqtt in",
        "z": "1cb448c825f52599",
        "name": "GPS Coordinates",
        "topic": "gps",
        "qos": "2",
        "datatype": "json",
        "broker": "7f78f1ea8e6ab857",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "1c3034ddc7f8941a",
                "e49af36b10619c07",
                "5e704acc40430d4b",
                "190e2ad1a23ab07d"
            ]
        ]
    },
    {
        "id": "1c3034ddc7f8941a",
        "type": "function",
        "z": "1cb448c825f52599",
        "name": "Storage coordinates into database",
        "func": "var n = msg.payload.name;\nvar la = msg.payload.lat;\nvar lo = msg.payload.lon;\nmsg.topic = \"INSERT INTO puntosgps(Nombre,LAT,LON) VALUES('\"+n+\"','\"+la+\"','\"+lo+\"')\";\n\n//msg.topic = \"INSERT INTO puntosgps(LON) VALUES('\"+lo+\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "26a068b3b6e184e6"
            ]
        ]
    },
    {
        "id": "26a068b3b6e184e6",
        "type": "mysql",
        "z": "1cb448c825f52599",
        "mydb": "1a9b04a11b694c2d",
        "name": "Indicate database for coordinates",
        "x": 840,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9dccefc999e5dbed",
        "type": "mysql",
        "z": "1cb448c825f52599",
        "mydb": "1a9b04a11b694c2d",
        "name": "read gps",
        "x": 680,
        "y": 640,
        "wires": [
            [
                "2dbd0185e6277f53"
            ]
        ]
    },
    {
        "id": "2dbd0185e6277f53",
        "type": "ui_table",
        "z": "1cb448c825f52599",
        "group": "542338b146203adb",
        "name": "Show registers in a table",
        "order": 3,
        "width": "12",
        "height": "5",
        "columns": [
            {
                "field": "shorttime",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "LAT",
                "title": "Latitude",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "LON",
                "title": "Longitude",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 910,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "e49af36b10619c07",
        "type": "worldmap",
        "z": "1cb448c825f52599",
        "name": "World map function",
        "lat": "-16.376214",
        "lon": "-71.521747",
        "zoom": "18",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 450,
        "y": 760,
        "wires": []
    },
    {
        "id": "5e704acc40430d4b",
        "type": "ui_worldmap",
        "z": "1cb448c825f52599",
        "group": "099cdeed3f320a9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "World map dashboard",
        "lat": "-16.376214",
        "lon": "-71.521747",
        "zoom": "18",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "190e2ad1a23ab07d",
        "type": "function",
        "z": "1cb448c825f52599",
        "name": "Select data from database",
        "func": "msg.topic = \"SELECT time,DATE_FORMAT(time,' %Y-%m-%d %H:%i:%s') AS shorttime, LAT, LON FROM puntosgps\";\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 640,
        "wires": [
            [
                "9dccefc999e5dbed"
            ]
        ]
    },
    {
        "id": "9efdcb7446d06b78",
        "type": "ui_audio",
        "z": "1cb448c825f52599",
        "name": "Audio out",
        "group": "542338b146203adb",
        "voice": "Google US English",
        "always": "",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "7f78f1ea8e6ab857",
        "type": "mqtt-broker",
        "name": "Mosquitto Broker",
        "broker": "192.168.0.107",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cf80aacb6a002869",
        "type": "ui_group",
        "name": "Status button",
        "tab": "57e29b8f4fb5f401",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c33c54c064b6c179",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "statusbutton",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "542338b146203adb",
        "type": "ui_group",
        "name": "Record",
        "tab": "57e29b8f4fb5f401",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a9b04a11b694c2d",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "gpsdata",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "099cdeed3f320a9d",
        "type": "ui_group",
        "name": "Map",
        "tab": "57e29b8f4fb5f401",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57e29b8f4fb5f401",
        "type": "ui_tab",
        "name": "Panic Button",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]